body {
    font-family: "Lato", sans-serif;
    background-color: aqua;
  } 
.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}
.sidenav a:hover::after{
    content: '';
    display: block;
    height: 2px; 
    width: 0;
    background-color:blueviolet; 
    transition: width 0.3s;
  }
.sidenav a:hover::after {
    width: 100%;   
}
.sidenav a:hover{
    color: burlywood;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

#all{
    float: right;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}